In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('201218.csv', sep='\t')

In [22]:
df.head()

   Unnamed: 0    本期    上期
0           1   CRL  CABO
1           2  DOCU   CRL
2           3   FND   FND
3           4   GPK  GNRC
4           5  JAZZ   GPK

In [23]:
current_period = df['本期']
last_period = df['上期'].dropna()

In [24]:
current_period

0     CRL
1    DOCU
2     FND
3     GPK
4    JAZZ
5     JBL
6    MASI
7    POOL
8    WDAY
9    ZNGA
Name: 本期, dtype: object

In [25]:
last_period

0    CABO
1     CRL
2     FND
3    GNRC
4     GPK
5    JAZZ
6     JBL
7    MASI
8    POOL
Name: 上期, dtype: object

In [26]:
# if item in current but not in last:
#     decision -> buy item
# if item in last but not in current:
#     decision -> sell item
# if item in both current and last:
#     decision -> do nothing on item, except the total investment amount changes

In [27]:
print("Buy:", current_period[~current_period.isin(last_period)].tolist())

Buy: ['DOCU', 'WDAY', 'ZNGA']

In [28]:
print("Sell:", last_period[~last_period.isin(current_period)].tolist())

Sell: ['CABO', 'GNRC']